<div class="table-responsive">
  <table class="table">
    <tr>
      <td colspan="5">
        <h5>Order Items:</h5>
      </td>
    </tr>
    <tr *ngFor="
        let item of order.items">
      <td width="15%">
        <a routerLink="/item/{{item.item.id}}">
          <img [src]="item.item.imageUrl" class="img-fluid" [alt]="item.item.name">
        </a>
      </td>
      <td>
        {{ item.item.name}}
      </td>
      <td>
        {{ item.item.price | currency}}
      </td>
      <td>
        {{ item.quantity}}
      </td>
      <td class="text-end">
        {{ item.price | currency}}
      </td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td class="fw-bolder">Total:</td>
      <td class="text-end fw-bolder">
        {{order.totalPrice | currency}}
      </td>
    </tr>

  </table>
</div>

