<div class="container">
  <app-not-found
    [visible]="!item"
    notFoundMessage="Item Not Found!"
    resetLinkText="Go To Homepage"
  ></app-not-found>
  <div class="row" *ngIf="item">
    <div class="col-md-4 text-center offset-2">
      <img class="img-thumbnail" [src]="item?.imageUrl" [alt]="item?.name"/>

    </div>
    <div class="col-md-4">
      <div class="d-flex justify-content-between align-items-center">
        <h4>{{item?.name}}</h4>
        <favorite [item]="item"></favorite>
        <!--        <i class="bi bi-heart-fill {{item?.favorite ? 'text-danger':''}}"></i>-->
      </div>

      <p>
        <ngb-rating [rate]="item?.stars || 0" [readonly]="true" [max]="5"></ngb-rating>
      </p>
      <p>
        <i class="bi bi-geo-alt-fill"></i>
        <span *ngFor="let origin of item?.origins" class="badge text-bg-light rounded-pill d-inline-block mx-1">
                {{ origin | titlecase }}
        </span>
      </p>
      <p>
        <i class="bi bi-tag-fill"></i>
        <a *ngFor="let tag of item?.tags" routerLink="/tag/{{tag}}"
           class="badge text-bg-warning rounded-pill d-inline-block mx-1">
          {{ tag }}
        </a>
      </p>
      <p>
        <i class="bi bi-clock-fill"></i>
        Time to cook about <span class="fw-bold">{{item?.cookTime}}</span> minutes
      </p>
      <h4 class="text-success">{{item?.price | currency}}</h4>
      <div class="d-grid gap-2">
        <button class="btn  btn-danger mt-4 round-btn" (click)="addToCart()">Add To Cart</button>
      </div>
    </div>
  </div>
</div>


