body {
  font-family: Quicksand;
}

a {
  text-decoration: none !important;
}

ngb-rating {
  font-size: 1.2em;
}

.card-footer {
  font-size: 0.8rem;
}

.round-btn {
  border-radius: 20px !important;
}

.form-container {
  max-width: 330px;
}

.form-container-lg {
  max-width: 640px;
}

table img {
  width: 3rem !important;
  height: 3rem !important;
  object-fit: cover;
  border-radius: 100rem !important;
}
