body {
  font-family: Quicksand;
}

a {
  text-decoration: none !important;
}

ngb-rating {
  font-size: 1.2em;
}

.card-footer {
  font-size: 0.8rem;
}

.round-btn {
  border-radius: 20px !important;
}

.form-container {
  max-width: 330px;
}
